@{
    ViewBag.Title = "Home Page";
}

    <hr />


    <div class="row-cols-2">
        <a href="">
            <img src="~/Assets/img/FideFit.png" class="img-fluid" alt="..."
                 style="height: 250px; width: 450px; text-align:center">
        </a>
        <a href="">
            <img src="~/Assets/img/FideFit (1).png" class="img-fluid" alt="..."
                 style="height: 250px; width: 450px; text-align:center">
        </a>



    </div>


    <hr />

    <a href="">
        <img src="~/Assets/img/inicio.jpg" class="img-fluid" alt="..."
             style="height: auto; width: auto;">
    </a>






    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin:10px; text-align:center;">
        <div class="col">
            <div class="card">
                <a href=""><img src="~/Assets/img/pr1.jpg" class="img-fluid" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Instructores Profesionales</h5>
                    <p class="card-text"> Contamos con profesionales capacitados para ayudarte. </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href=""><img src="~/Assets/img/pr3.jpg" class="img-fluid" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Equipo de Peso</h5>
                    <p class="card-text">En nuestras instalaciones encontrarás variedad  de mancuernas</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <a href=""><img src="~/Assets/img/pr4.jpg" class="img-fluid" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Máquinas de última generación</h5>
                    <p class="card-text">Utilizá máquinas de ultima generación, garantizando una experiencia moderna.</p>
                </div>
            </div>
        </div>
    </div>
