
@{
    ViewBag.Title = "FinalizaCompra";
}

<h2>Gracias por su compra</h2>

<li class="nav-item">
    @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
</li>

